<h1>Distributed Database Simulator</h1>
<ul>
  <li><a href="/transactions/case1">Case #1: Read-only Transactions</a></li>
  <li><a href="/transactions/case2">Case #2: One Writer, Multiple Readers</a></li>
  <li><a href="/transactions/case3">Case #3: Multiple Writers</a></li>
</ul>
